body {
    background-color: black;
    color: white;
    --font-size: 3dvh;
}

div.canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.chat {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 20dvw;
    background-color: grey;
    z-index: 1000000000;
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.chat .input-box {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: stretch;
}

.chat .input-box input {
    flex-grow: 1;
}


input,
button {
    height: var(--font-size);
}


.chat .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;
    overflow-y: auto;
}

.chat ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.chat ul li {
    display: inline-block;
    width: 60%;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0.25em;
    margin-left: 1em;
    margin-right: 1em;
    overflow-wrap: break-word;
}

.chat ul li span.sender {
    display: block;
    font-size: small;
    font-weight: bold;
    color: aliceblue;
}

.chat ul li span.text {
    display: block;
}

.chat ul li.own {
    align-self: flex-start;
    background-color: darkslateblue;
}

.chat ul li.other {
    align-self: flex-end;
    background-color: midnightblue;
}

div.connection {
    background-color: aquamarine;
    color: black;
    z-index: 1000000000;
}

.join {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}