body {
    background-color: black;
    color: white
}

div#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

div#chat {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 20dvw;
    background-color: grey;
    z-index: 1000000000;
}

div#chat div {
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 20dvw;
    padding: 1em
}

div#chat ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

div#chat ul li {
    display: inline-block;
    width: 60%;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0.25em;
    margin-left: 1em;
    margin-right: 1em;
}

div#chat ul li span.sender {
    display: block;
    font-size: small;
    font-weight: bold;
}

div#chat ul li span.text {
    display: block;
}


div#chat ul li.own {
    align-self: flex-start;
    background-color: darkslateblue;
}

div#chat ul li.other {
    align-self: flex-end;
    background-color: midnightblue;
}