body {
    background-color: black;
    color: white;
    --font-size: 3dvh;
    font-family: "Contrail One", sans-serif;
}

div.canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.chat {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 20dvw;
    background-color: grey;
    z-index: 1000000000;
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-left: calc(0.1*var(--font-size)) ridge black;

}

.chat .input-box {
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.chat .input-box input {
    flex-grow: 1;
}

.chat .input-box button {
    width: calc(1.30*var(--font-size));
    margin-left: 0.5em;
}


.chat .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;
    overflow-y: auto;
}

.chat ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.chat ul li {
    display: inline-block;
    width: 60%;
    border: calc(0.05*var(--font-size)) solid black;
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0.25em;
    margin-left: 1em;
    margin-right: 1em;
    overflow-wrap: break-word;
}

.chat ul li span.sender {
    display: block;
    font-size: calc(0.75*var(--font-size));
    font-weight: bold;
    color: aliceblue;
}

.chat ul li span.text {
    display: block;
}

.chat ul li.own {
    align-self: flex-start;
    background-color: darkslateblue;
}

.chat ul li.other {
    align-self: flex-end;
    background-color: midnightblue;
}

button,
input {
    height: calc(1.30*var(--font-size));
    font-size: var(--font-size);
    border-width: calc(0.1*var(--font-size));
    padding: calc(0.05*var(--font-size));
    box-sizing: content-box;
    font-family: "Contrail One", sans-serif;
}

div.menu {
    background-color: wheat;
    color: black;
    z-index: 1000000000;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.join {
    overflow: hidden;
}

.join form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1em;
}

.join form>* {
    margin-top: calc(0.1*var(--font-size));
}

.join form label {
    font-size: calc(1.3*var(--font-size));
    overflow-x: hidden;
    text-wrap: nowrap;
}

.join,
div#help {
    filter: drop-shadow(goldenrod calc(0.5*var(--font-size)) calc(0.5*var(--font-size)) calc(2*var(--font-size)));
    border-radius: 0.25em;
    border-style: ridge;
}

.join::backdrop,
#help::backdrop {
    backdrop-filter: sepia(1);
}